body{
    #btn-default{
        background-color: #81A594;
        background-image: none;
        color: #E6E6DC;
        box-shadow: none;
    }
    #btn-default:hover{
        background-color: #597e6d;
    }
}