body{
    #btn-default{
        background-color: #81A594;
        background-image: none;
        color: #E6E6DC;
        box-shadow: none;
    }
    #btn-default:hover{
        background-color: #6c8b7d;
    }

    #btn-log{
        background-color: #508b70;
        background-image: none;
        color: #f7f7ef;
        box-shadow: none;
        transition: 0.5s;
        &:hover{
            background-color: rgb(97, 154, 156);
            color: #fafaf0;
        }
    }
}