// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.orders{
    h1 {
        margin: 0;
        padding-bottom: 0.5em;
        font: 200% sans-serif;
        color: #00628B;
        border-bottom: 3px double #00628B;
    }

    p{
        color:  #00628B;
        font: 100% sans-serif;
    }

    table{
        border-collapse: collapse;
        th{
            background-color:  #93bda9;
            border: 1px solid #E6E6DC;
        }
        tr {
            padding: 5px;
            vertical-align: top;
            background-color:  #93bda9;
        }
        td {
            border: 1px solid #E6E6DC;
            padding: 5px;
            vertical-align: top;
        }
    }
}