// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.orders{
    h1 {
        margin: 0;
        padding-bottom: 0.5em;
        font: 200% sans-serif;
        color: #00628B;
        border-bottom: 3px double #00628B;
    }

    table{
        // border-collapse: collapse;
        thead{
            background-color:  #81A594;
        }
        tr {
            padding: 5px;
            vertical-align: top;
            background-color:  #81A594;
        }
        td {
            padding: 5px;
            vertical-align: top;
        }
    }
}