// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.products {
  h1 {
    margin: 0;
    padding-bottom: 0.5rem;
    font: 200% sans-serif;
    color: #00628b;
    border-bottom: 3px double #00628b;
  }

  table {
    border-collapse: collapse;
    tr {
      padding: 5px;
      vertical-align: top;
    }
    td {
      padding: 2px;
      vertical-align: top;
    }
  }

  .list_image {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    vertical-align: middle;
  }

  .list_description {
      vertical-align: middle;
    width: 60%;
    dl {
      margin: 0;
    }

    dt {
      color: #00628b;
      font-weight: bold;
      font-size: larger;
    }
    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    a {
      color: #00628b;
      font-size: medium;
      text-decoration: none;
      background-color: transparent;
    }
    a:hover {
      color: #81a594;
      font-size: medium;
      text-decoration: none;
      background-color: transparent;
    }
  }

  .list_line_even {
    border-bottom: 2px solid #00628b;
    background-color: #d3eee1;
  }

  .list_line_odd {
    border-bottom: 2px solid #00628b;
  }
}
