// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.products {
  h1 {
    margin: 0;
    padding-bottom: 0.5rem;
    font: 200% sans-serif;
    color: #00628b;
    border-bottom: 3px double #00628b;
  }

  table {
    border-collapse: collapse;
    tr {
      padding: 5px;
      vertical-align: top;
    }
    td {
      padding: 2px;
      vertical-align: top;
    }
  }

  .list_image {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    vertical-align: middle;
  }

  .list_description {
    vertical-align: middle;
    width: 60%;
    dl {
      margin: 0;
    }

    dt {
      color: #00628b;
      font-weight: bold;
      font-size: larger;
    }
    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    a {
      color: #00628b;
      font-size: medium;
      text-decoration: none;
      background-color: transparent;
    }
    a:hover {
      color: #81a594;
      font-size: medium;
      text-decoration: none;
      background-color: transparent;
    }
  }

  .list_line_even {
    border-bottom: 2px solid #00628b;
    background-color: #d3eee1;
  }

  .list_line_odd {
    border-bottom: 2px solid #00628b;
  }

  #main {
    strong {
      color: saddlebrown;
    }
    img {
      max-width: 100%;
    }

    .preview {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px;
      }
    }

    .tab-content {
      overflow: hidden;
      border: none;
    }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
      animation-name: opacity;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
    }

    .card {
      margin-top: 50px;
      background: #eee;
      padding: 3em;
      line-height: 1.5em;
    }

    @media screen and (min-width: 997px) {
      .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }
    }

    .details {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      .product-title {
        color: saddlebrown;
      }
    }

    .colors {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    .product-title {
      text-transform: UPPERCASE;
      font-weight: bold;
    }

    .price span {
      font-weight: bold;
      color: #b46c06;
    }

    .product-title,
    .rating,
    .product-description,
    .price,
    .vote,
    .sizes {
      margin-bottom: 15px;
    }
    .product-description {
      font: 120% sans-serif;
    }

    .product-title {
      margin-top: 0;
    }
    @-webkit-keyframes opacity {
      0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
      }
      100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    @keyframes opacity {
      0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
      }
      100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
