// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users {
  h1 {
    margin: 0;
    padding-bottom: 0.5rem;
    font: 200% sans-serif;
    color: #00628b;
    border-bottom: 3px double #00628b;
  }
  table {
    th {
      text-align: center;
    }
    tr {
      vertical-align: top;
    }
    td {
      padding: 2px;
      vertical-align: middle;

    font: 120% sans-serif;
    }
  }
  p {
    color: #00628b;
    font: 130% sans-serif;
  }
  a {
    color: #81a594;
    font: 100% sans-serif;
    text-decoration: none;
  }
  a:hover {
    color: #4a685a;
    background-color: transparent;
  }
}
